body{

    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;

}

.container{
  
    display:flex;
    background-color:gray;
    width: 700px;
    border: 1px solid #000;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*flex-wrap:wrap;*/

    
  }
.compu{
    
    display: flex;
    background-color: rgb(136, 46, 46);
    width: auto;
    /*height: auto;*/
    margin: 5px;
    /*flex-wrap:wrap;*/

}
.imagen{

    margin: 5px;
    width: 300px;
    height: 300px;
    /*height: auto;*/
    /*border: 1px solid #000;*/
}
.contenido{

    background-color: white;
    margin: 5px;
    width: auto;
    /*border: 1px solid #000;*/

}
.strike-text{

    text-decoration: line-through;
    color: gray;
    font-size: small;
}
.green-text{

    color: green;
}

.full{  

    font-weight: bold;
    font-style: italic;
}
.tag-oferta{

    background-color: #3483fa;
    text-align: center;
    width: auto;
    font-weight: bold;
    color:white;
    border-radius: 5px;


}