body{

    margin: 0;
    background-color: #333;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: white;


}
h1{

    margin-top: 100px;

}

.main-container{
    display:flex;
    max-height: 100vh;
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/9c5457b8-9ab0-4a04-9fc1-e608d5670f1a/46b46de8-a269-4a25-b8cf-56c614b4b1f4/MX-en-20210719-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    flex-direction: row;
    justify-content: space-between;
}
.buttons{

    display: flex;
    flex-direction: row;
    align-items: flex-start;

}
.middle-card{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

}
.sub-container{

    display: flex;
    background-color: black;
    height: 400px;
    margin-top: 5px;
    align-items: center;
    flex-direction: row;
/*     flex-direction: column; */
}

@media (min-width:576px){

.sub-container{
    
    display: flex;
    background-color: black;
    height: 400px;
    margin-top: 5px;
    align-items: center;
    flex-direction: row;
}

} 
.sub-container-text{

    margin: 50px;
    height: 350px;
    width: 100%;
    align-items: center;
}
.sub-container-image{

    margin: 50px;
    height: 350px;
    width: 100%;
    justify-content: center;
}
.side-image{

    max-height: 100%;
    max-width: 100%;

}



.signin-button{

    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.signin-button:hover{

    color:silver;

}


.logo{

    width: 108px;
    height: 100px;
    margin: 10px;


}
.signin-button{

    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;

}

.button-language{

    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;

}
